USE [master]
GO
/****** Object:  Database [SENSORIAL_STORE]    Script Date: 26/05/2026 2:48:47 a. m. ******/
CREATE DATABASE [SENSORIAL_STORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SENSORIAL_STORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SENSORIAL_STORE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SENSORIAL_STORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SENSORIAL_STORE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SENSORIAL_STORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SENSORIAL_STORE]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 26/05/2026 2:48:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 26/05/2026 2:48:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[MarcaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PaisOrigen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MarcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 26/05/2026 2:48:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[MarcaId] [int] NOT NULL,
	[ImagenUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([CategoriaId], [Nombre], [Descripcion]) VALUES (1, N'Labios', N'Productos para el cuidado y color de los labios')
INSERT [dbo].[Categorias] ([CategoriaId], [Nombre], [Descripcion]) VALUES (2, N'Rostro', N'Bases, correctores, polvos y rubores')
INSERT [dbo].[Categorias] ([CategoriaId], [Nombre], [Descripcion]) VALUES (3, N'Ojos', N'Sombras, pestañinas y delineadores')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([MarcaId], [Nombre], [PaisOrigen]) VALUES (1, N'Maybelline', N'Estados Unidos')
INSERT [dbo].[Marcas] ([MarcaId], [Nombre], [PaisOrigen]) VALUES (2, N'Vogue', N'Colombia')
INSERT [dbo].[Marcas] ([MarcaId], [Nombre], [PaisOrigen]) VALUES (3, N'MAC Cosmetics', N'Canadá')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([ProductoId], [Nombre], [Descripcion], [Precio], [Stock], [CategoriaId], [MarcaId], [ImagenUrl]) VALUES (1, N'Labial SuperStay Matte Ink', N'Labial líquido de larga duración, acabado mate', CAST(40000.00 AS Decimal(18, 2)), 20, 1, 1, N'https://www.maybelline.co/-/media/project/loreal/brand-sites/mny/americas/latam/products/lip-makeup/lip-color/super-stay-matte-ink-liquid-lipstick/maybelline-lip-color-super-stay-matte-ink-dreamer-041554496901-o.jpg?rev=e1d042e1d5f641aabc5ce27b2883cc5e&cx=0.4&cy=0.61&cw=760&ch=1130&hash=97226466AFAAC1A958B78A266C0BEA25')
INSERT [dbo].[Productos] ([ProductoId], [Nombre], [Descripcion], [Precio], [Stock], [CategoriaId], [MarcaId], [ImagenUrl]) VALUES (2, N'Base Fit Me Matte', N'Base de maquillaje de cobertura media con acabado natural', CAST(38000.00 AS Decimal(18, 2)), 15, 2, 1, N'https://palatsi.com.co/cdn/shop/files/238richtan_1_1024x.webp?v=1693081954')
INSERT [dbo].[Productos] ([ProductoId], [Nombre], [Descripcion], [Precio], [Stock], [CategoriaId], [MarcaId], [ImagenUrl]) VALUES (3, N'Pestañina Efecto Total 6', N'Pestañina que alarga, da volumen y define', CAST(18000.00 AS Decimal(18, 2)), 30, 3, 2, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz0o6agrHwiIHFffUHntlPNL_U3_BJv0Ua6Q&s')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([CategoriaId])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([MarcaId])
REFERENCES [dbo].[Marcas] ([MarcaId])
GO
USE [master]
GO
